<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>POA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body style="background: var(--bs-body-color);">
    <div style="height: 25vh;"></div>
    <section class="position-relative py-4 py-xl-5" style="color: rgb(33, 37, 41);">
        <div class="container">
            <div class="row d-flex justify-content-center" style="transform: perspective(0px);position: relative;">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" style="border-color: #151719;transition: ease-in 5s;">
                        <div class="card-body d-flex flex-column align-items-center" style="background: #151719;border-color: var(--bs-emphasis-color);">
                            <div class="d-flex flex-row" style="margin-bottom: 20px;margin-top: 20px;">
                                <h1 class="d-xl-flex" style="color: #2d338e;font-size: 32px;">POAB</h1>
                                <h1 style="color: var(--bs-body-bg);font-size: 32px;">LOGIN</h1>
                            </div>
                            <form class="text-center" id="loginForm" method="post" action="/">
                                <div class="mb-3"><input class="form-control" type="text" id="username" name="username" placeholder="Username" style="width: 300px;" required=""></div>
                                <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Password" required=""></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" id="submitButton" type="submit" value="Login">Login</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>